body{
    #home{
        background: linear-gradient(to top, #fddb92 0%, #73b7ff 100%);

        header{
            #clock{
                .icons{
                    li:nth-child(2){
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}