body{
    background: linear-gradient(to top,#D88B19, #132758);

    #root{ 

        > header{
            color: white;

            .icons{
                svg{
                    filter: invert(100%);
                }
            }

            .icons{
                li:nth-child(3){
                    opacity: 1 !important;
                }
            }
        }

        > figure{
            mix-blend-mode: screen !important;
            img{
                filter: invert(100%);
            }
        }

    }
}