body{

    #root{ 
        background: linear-gradient(#2f1862, #6847ae);

        > header{
            color: white;

            .icons{
                svg{
                    filter: invert(100%);
                }
            }

            .icons{
                li:nth-child(4){
                    opacity: 1 !important;
                }
            }
        }

        > figure{
            mix-blend-mode: screen !important;
            img{
                filter: invert(100%);
            }
        }
    }
}