#root{
    background: linear-gradient(white, var(--bg-color));

    > header{
    color: var(--font-color);

        .icons{
            li{
                svg{
                    stroke: var(--font-color) !important;
                }
            }
            li:last-child{
                opacity: 1 !important;
            }
        }
    }
}