.icons li:last-child{
    opacity: 1 !important;
}

body{
    background: linear-gradient(white, var(--bg-color));
}

#root > header{
    color: var(--font-color);

    a{
        color: var(--font-color);
    }

    .icons{
        li{
            img{
                background-color: var(--font-color);
            }
        }
    }
}