@charset "UTF-8";
@import "Ductus.css";
@import "fontsize.css";
@import "reset.css";
/* Sur grands écrans */
body {
  font-family: "Ductus Regular";
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body a {
  color: inherit;
}
body #root {
  height: 100%;
}
body #root #home {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  box-sizing: border-box;
}
body #root #home header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1em 4em;
  margin: 1em;
  align-items: baseline;
}
body #root #home header > div {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
body #root #home header > div > h4 {
  width: 8em;
}
body #root #home header > div > ul {
  flex: 2;
}
body #root #home header #name {
  grid-area: 1/1/2/2;
}
body #root #home header #name h1 {
  flex: 1;
  font-weight: normal;
  margin: 0;
}
body #root #home header #clock {
  grid-area: 2/1/3/2;
}
body #root #home header #clock ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
body #root #home header #clock ul li {
  opacity: 0.3;
  cursor: pointer;
}
body #root #home header #clock ul li svg {
  height: 1.5em;
  width: 1.5em;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}
body #root #home header #lang {
  grid-area: 1/2/2/3;
}
body #root #home header #lang li {
  cursor: pointer;
  opacity: 0.3;
}
body #root #home header #lang li.active {
  opacity: 1;
}
body #root #home header #contact {
  grid-area: 2/2/3/3;
}
body #root #home header #contact a {
  text-decoration: none;
}
body #root #home header #resume {
  grid-area: 1/3/4/5;
}
body #root #home header #resume > div {
  flex: 5;
}
body #root #home header h4 {
  font-weight: normal;
  margin: 0;
}
body #root #home header ul {
  margin: 0;
  padding: 0;
}
body #root #home header ul li {
  list-style-type: none;
}
body #root #home header p {
  margin: 0;
}
body #root #home footer #links {
  display: flex;
  gap: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
}
body #root #home footer #links a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body #root #home footer #links a figure {
  height: 3em;
  width: 3em;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  margin: 0;
}
body #root #home footer #links a figure img {
  height: 100%;
}
body #root #home footer #links a p {
  margin: 0;
}
body #root #home footer #links a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
body #root #home #icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: -10;
  mix-blend-mode: multiply;
}
body #root #home #icon img {
  height: 60vh;
  display: none;
  filter: invert(1);
}
body #root #content {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90%;
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
}
body #root #content .scroller {
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: black transparent;
  padding: 1rem;
  box-sizing: border-box;
}
body #root #content .scroller > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 1em 4rem;
}
body #root #content .scroller > div .close {
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
body #root #content .scroller > div .close:hover {
  background-color: black;
  color: white;
}
body #root #content .scroller > div > .close {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
body #root #content .scroller > div dl {
  margin: 0;
  display: flex;
  gap: 1em;
}
body #root #content .scroller > div dl dt {
  width: 8em;
}
body #root #content .scroller > div dl dd {
  flex: 1;
  margin: 0;
}
body #root #content .scroller > div dl dd > * {
  display: block;
}
body #root #content .scroller > div header {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1em;
  position: sticky;
  top: 0;
}
body #root #content .scroller > div main {
  grid-column: 2/5;
}
body #root #content .scroller > div main .infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em 4em;
  margin-bottom: 2em;
  align-items: baseline;
}
body #root #content .scroller > div main .infos #datas {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1em;
}
body #root #content .scroller > div main .infos #details {
  grid-column: 2/4;
}
body #root #content .scroller > div main .images {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body #root #content .scroller > div main .images > * {
  align-self: stretch;
}
body #root #content .scroller > div main .images figure {
  position: relative;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
}
body #root #content .scroller > div main .images figure img, body #root #content .scroller > div main .images figure video {
  display: block;
  width: 100%;
}
body #root #content .scroller > div main .images .inline {
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
body #root #content .scroller > div main .images .inline figure {
  flex: 1;
  scroll-snap-align: center;
}

/* Sur très petits écrans */
@media (max-width: 576px) {
  body #root #home header > div {
    flex-direction: column;
    gap: 0.5em;
  }
  body #root #home #icon img {
    height: auto;
    width: 80vw;
  }
  body #root #content > div header {
    grid-template-columns: unset;
  }
  body #root #content > div main .infos #datas {
    grid-template-columns: unset;
  }
}
/* Sur petits écrans */
@media (min-width: 576px) and (max-width: 768px) {
  body #root #content > div header {
    grid-template-columns: repeat(2, 1fr);
  }
  body #root #content > div main .infos #datas {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Sur petits et très petits écrans */
@media (max-width: 768px) {
  body #root #home header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1em;
  }
  body #root #home header #clock {
    grid-area: 1/2/2/3;
  }
  body #root #home header #lang {
    grid-area: 2/1/2/2;
  }
  body #root #home header #resume {
    grid-area: 3/1/4/3;
  }
  body #root #home footer {
    position: sticky;
    bottom: 0;
  }
  body #root #content .scroller {
    padding: 0;
  }
  body #root #content .scroller > div {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }
  body #root #content .scroller > div .close {
    display: block;
    position: sticky;
    top: 1rem;
    margin: 1rem;
  }
  body #root #content .scroller > div header {
    position: relative;
    grid-column: unset;
    grid-template-rows: unset;
    margin: 0 1rem;
  }
  body #root #content .scroller > div header .close {
    display: none;
  }
  body #root #content .scroller > div main {
    grid-column: unset;
  }
  body #root #content .scroller > div main .infos {
    grid-template-columns: unset;
    padding: 0 1rem;
  }
  body #root #content .scroller > div main .infos #datas {
    grid-column: unset;
    grid-template-rows: unset;
  }
  body #root #content .scroller > div main .infos #details {
    grid-column: unset;
  }
  body #root #content .scroller > div main .images {
    margin-bottom: 1rem;
  }
  body #root #content .scroller > div main .images > figure {
    margin: 0 1rem;
  }
  body #root #content .scroller > div main .images .inline figure {
    flex: none;
    width: 85%;
    flex-shrink: 0;
  }
  body #root #content .scroller > div main .images .inline figure:first-child {
    margin: 0 0 0 1rem;
  }
  body #root #content .scroller > div main .images .inline figure:last-child {
    margin: 0 1rem 0 0;
  }
}
/* Sur écrans moyens */
@media (min-width: 768px) and (max-width: 1200px) {
  body #root #home header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  body #root #home header #contact {
    grid-area: 1/3/2/4;
  }
  body #root #home header #resume {
    grid-area: 2/2/3/4;
  }
  body #root #content .scroller > div {
    grid-template-columns: repeat(3, 1fr);
  }
  body #root #content .scroller > div main {
    grid-column: 2/4;
  }
  body #root #content .scroller > div main .infos {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
  }
  body #root #content .scroller > div main .infos #datas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 1em 4em;
  }
  body #root #content .scroller > div main .infos #details {
    grid-column: unset;
  }
}/*# sourceMappingURL=App.css.map */